.container {
    display: flex;
    margin-top: 4rem;
}

.search_param {
    margin-left: 2rem;
    min-width: 15rem;
}

.catagory_list {
    margin-top: 3rem;
}

.catagory_dropper {
    display: flex;
    justify-content: space-between;
}

.catagory_list h1 {
    margin-bottom: 1.3rem;
    font-weight: bolder;
    font-size: 120%;
}

.hide_list {
    position: absolute;
    opacity: 0;
}

.catagory_list li {
    margin-bottom: 1rem;
    padding-left: 1rem;
    color: grey;
}

.catagory_list li:hover {
    cursor: pointer;
    color: black;
}

.downArrow {
    transition: all 0.5s;
    transform: rotateZ(90deg);
}

.sideArrow {
    transition: all 0.5s;
    transform: rotateZ(0deg);
}

.downArrow:hover, .sideArrow:hover {
    cursor: pointer;
}

@media screen and (max-width: 40rem) {
    .container {
        flex-direction: column;
    }

    .search_param {
        max-width: 20rem;
    }

    .search_res {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 25rem) {
    .catagory_list h1 {
        font-size: 100%;
    }

    .catagory_dropper {
        max-width: 10rem;
    }
}