.container {
    margin-top: 5rem;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.nav span {
    padding: 1rem 0;
    color: grey;
    font-size: 150%;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.nav span:hover, .nav span:active {
    cursor: pointer;
    color: black;
}

.nav span:nth-child(1) {
    color: black;
}

.info_container {
    margin: auto;
    margin-top: 2rem;
    width: 75%;
    min-width: 80rem;
    height: 100%;
}

.fade_in {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 82.5rem) {
    .info_container {
        min-width: 68rem;
    }
}

@media screen and (max-width: 68.7rem) {
    .info_container {
        min-width: 55rem;
    }
}

@media screen and (max-width: 57rem) {
    .nav {
        width: 80%;
    }

    .info_container {
        width: 100%;
        min-width: 0;
    }

}

@media screen and (max-width: 25rem) {
    .container {
        margin-top: 2rem;
    }

    .nav {
        flex-direction: column;
    }
}